name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

  schedule:
    - cron: '0 5 * * *' # At 05:00

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

env:
  AWS_DEFAULT_REGION: us-west-2

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::631969445205:role/github-action-role
          role-session-name: offsets-db-etl-role-session
          aws-region: ${{ env.AWS_DEFAULT_REGION }}
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install -r requirements-dev.txt

      - name: Install package
        run: |
          python -m pip install .

      - name: List packages
        run: |
          python -m pip list

      - name: Install CLI
        run: |
          offsets-db-data-orcli install --move --destination /usr/local/bin
          offsets-db-data-orcli --help

      - name: Run tests
        run: |
          python -m pytest
