name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

  schedule:
    - cron: '0 5 * * *' # At 05:00

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

env:
  AWS_DEFAULT_REGION: us-west-2

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    defaults:
      run:
        shell: bash -l {0}
    services:
      openrefine:
        image: abesesr/openrefine:3.8.7
        ports:
          - 3333:3333
        options: --name openrefine
    steps:
      - uses: actions/checkout@v6

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::631969445205:role/github-action-role
          role-session-name: offsets-db-etl-role-session
          aws-region: ${{ env.AWS_DEFAULT_REGION }}

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}

      - name: List packages
        run: pixi list

      - name: Install CLI
        run: pixi run offsets-db-data-orcli install --destination /usr/local/bin

      - name: Show CLI help
        run: pixi run offsets-db-data-orcli --help

      - name: Run tests
        run: pixi run test-cov
