name: Build distribution
on:
  release:
    types:
      - published
  push:

jobs:
  build-artifacts:
    runs-on: ubuntu-latest
    if: github.repository == 'carbonplan/offsets-db-data'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}

      - name: Build tarball and wheels
        run: |
          git clean -xdf
          git restore -SW .
          pixi run pip install build
          pixi run python -m build --sdist --wheel .

      - name: Check built artifacts
        run: |
          pixi run pip install twine check-manifest
          pixi run python -m twine check dist/*
          pwd
          if [ -f dist/offsets-db-data-unknown.tar.gz ]; then
            echo "❌ INVALID VERSION NUMBER"
            exit 1
          else
            echo "✅ Looks good"
          fi

      - uses: actions/upload-artifact@v5
        with:
          name: releases
          path: dist

  test-built-dist:
    needs: build-artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Setup Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          cache: false

      - uses: actions/download-artifact@v6
        with:
          name: releases
          path: dist

      - name: List contents of built dist
        run: |
          ls -ltrh
          ls -ltrh dist

      - name: Verify the built dist/wheel is valid
        if: github.event_name == 'push'
        run: |
          pixi run pip install dist/offsets_db_data*.whl
          pixi run python -c "import offsets_db_data; print(offsets_db_data.__version__)"

  upload-to-pypi:
    needs: test-built-dist
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: releases
          path: dist
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
